<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.varplayerios">

    <!-- تحتاجها بالريفليس لتشغيل الشبكة/الفيديو -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="var_player_ios"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- شاشة الإقلاع -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <!-- تشغيل التطبيق -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- استقبال varplayer://play?... -->
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="varplayer"
                    android:host="play" />
            </intent-filter>

            <!-- (اختياري) لو تريد التقاط أي host مع نفس السكيم، احذف android:host وأبقِ scheme فقط -->
            <!--
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="varplayer" />
            </intent-filter>
            -->
        </activity>

        <!-- لا تحذف: Flutter يستخدمه للتسجيل -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <!-- مطلوبة لـ ProcessTextPlugin حسب توثيق أندرويد -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>
</manifest>
